:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --decor-text-color: #000028;

  --section-title-color: #FF0070;
  --decorated-color: #FF0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --rec-display: block;
}
