:root.theme-light {
  --bg-color: #FFF1F7;
  --bg-image: url("../images/cover-image-light.png");
  --text-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --decor-text-color: #353430;

  --section-title-color: #353430;
  --decorated-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --bg-image: url("../images/cover-image-light.png");
    --text-color: #353430;
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --decor-text-color: #353430;

    --section-title-color: #353430;
    --decorated-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --rec-display: none;
  }
}