/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.header__title,
.header__text,
.section-title,
.card-title,
.card-text,
.section-intro,
.gallery-title,
.footer-title {
  margin: 0;
}

.page {
  background-color: var(--bg-color);
  font-family: var(--main-font);
  color: var(--text-color);
  margin: 0;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  grid-template-rows: 1fr min-content 1fr;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
}

.header__rec {
  color: var(--decorated-color);
  position: absolute;
  top: 10px;
  right: 38px;
  font-weight: 400;
  font-size: 18px;
  display: var(--rec-display);
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  top: 8px;
  right: -19px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--decorated-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
  line-height: 1.1;
  padding: 3px 10px;
}

.header__theme-menu-button_active {
  border-color: var(--decorated-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom-color: var(--decorated-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--decor-text-color);
}

.header__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  align-self: center;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--decorated-color);
  border-right: 1px solid var(--decorated-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--decorated-color);
  border-left: 1px solid var(--decorated-color);
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px 40px;
  background-color: var(--bg-color);
}

.content-section {
  display: grid;
  gap: 20px;
}

.section-list {
  list-style: none;
  display: grid;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.section-title {
  color: var(--section-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.card-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.card-text {
  font-size: 18px;
  color: var(--text-color);
  line-height: 23.4px;
}

.section-intro {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.section-item {
  display: grid;
  gap: 10px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery-image {
  width: 100%;
  display: block;
}

.footer {
  display: grid;
  position: relative;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  place-items: center;
  background-color: var(--bg-color);
}

.footer-title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card-text a {
  color: inherit;
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .footer {
    padding: 20px;
  }

  .main {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    gap: 80px;
  }

  .content-section-columns {
    grid-template-columns: 236px 1fr;
  }
  .content-section-columns .section-intro {
    grid-column: 2;
    align-self: start;
  }

  .content-section-columns .section-list {
    grid-column: 2;
  }
  .title-size {
    max-width: 236px;
  }

  .tips-section .section-title {
    grid-row: span 2;
  }

  .header__text {
    justify-self: end;
    max-width: 364px;
  }

  .gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery-title {
    grid-column: span 3;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
  }

  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .gallery-image-sunset {
    grid-column: span 2;
    grid-row: 2;
  }

  .gallery-image-ice-cream {
    grid-column: 3;
    grid-row: span 2;
  }

  .gallery-image-tape {
    grid-column: 1;
    grid-row: span 3;
  }

  .gallery-image-street {
    grid-column: span 2;
    grid-row: span 2;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__rec {
    top: 21px;
    right: 48.5px;
  }

  .header__theme-menu {
    margin-right: 3px;
  }
  .header__title {
    margin-top: 3px;
    margin-left: -19px;
  }
  .footer-title {
    transform: translateY(19px);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    top: -2px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 12px;
  }

  .header__rec {
    top: 20px;
    right: 48px;
  }

  .header::before {
    top: 20px;
    right: 20px;
  }

  .content-section-columns {
    grid-template-columns: 315px 1fr;
  }

  .title-size {
    max-width: 315px;
  }

  .attention-section .section-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: start;
  }

  .attention-section .card-title {
    align-self: start;
  }
  .main {
    gap: 80px;
    padding-top: 60px;
  }

  .header__text {
    max-width: 491px;
  }

  .header__title {
    font-size: 157px;
    margin-left: -20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .footer-title {
    font-size: 157px;
    place-items: center;
    margin: 0;
    transform: translateY(18px);
  }

  .gallery-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
  }
}
